@import 'config'; // sass filenames with "_" prefix are "partials" that can be imported like this.
@import 'utilities';
@import 'forms'; // could be in utilities, but just too many styles

* {
  box-sizing: border-box; // border-box: padding and border are included in elements widht and height
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem; // rem: multiplier of default font size (size of html elementsd default font, usually 16px)
  line-height: 1.6; // adds space above and under the text, not the 2 baselines!
  background-color: #ffffff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed; // always on top of page
  top: 0px;
  z-index: 1; // always on top of other elements on page
  width: 100%;
  border-bottom: solid 1px $primary-color;
  opacity: 0.9; // slightly translucent

  ul {
    // nested, like .navbar ul
    display: flex;
  }

  a {
    color: #ffffff;
    padding: 0.45rem;
    margin: 0 0.25rem; // top+bottom: 0rem, left / right: 0.25rem
    &:hover {
      // & = placeholder for parent element, so here: a:hover;
      color: $primary-color;
    }
  }
}

//landing area
.landing {
  position: relative;
  background: url('../img/bg.jpg') no-repeat center center/cover;
  //background-color: green;
  height: 100vh; // 1vh = 1% of the horizontal viewport
  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

//Profiles page
.profile {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
